.side{
  height: 100%;
}

mat-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left-options{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.side-nav-content{
  background-color: #080F28;
}

.router{
  height: calc(100vh - 66px);
  padding-top: 64px;
}

.side-nav-options div{
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
  cursor: pointer;
  span{
    font-size: 18px;
    padding: 20px;
  }
}

.side-nav-options div:hover{
  background-color: #333333;
}
