
<div class="movie-edit-page">
  <mat-card class="movie-edit-page__edit-card">
    <div class="movie-edit-page__edit-card__film-card">
      <img [src]="film.movie.imageUrl" alt="{{ film.movie.title }}" class="movie-edit-page__edit-card__film-card__film-image" />
      <mat-card-title>{{ film.movie.title }}</mat-card-title>
      <mat-card-content>
        <p>Director: {{ film.movie.director.name }}</p>
        <p>Fecha de lanzamiento: {{ film.movie.releaseDate | date: 'dd/MM/yyyy' }}</p>
      </mat-card-content>
    </div>

    <div class="edit-container">
      <mat-card-title>Editar: {{ film.movie.title }}</mat-card-title>
      <mat-card-content>
        <form #movieForm="ngForm">
          <mat-form-field class="edit-container__form-field">
            <input matInput placeholder="Titulo" name="title" [(ngModel)]="film.movie.title" required>
          </mat-form-field>

          <mat-form-field class="edit-container__form-field">
            <input matInput placeholder="Fecha de salida" name="releaseDate" [(ngModel)]="film.movie.releaseDate" required>
          </mat-form-field>

          <mat-form-field class="edit-container__form-field">
            <input matInput placeholder="Portada" name="imageUrl" [(ngModel)]="film.movie.imageUrl" required>
          </mat-form-field>

          <mat-form-field class="edit-container__form-field">
            <input matInput placeholder="Nombre director" name="director" [(ngModel)]="film.movie.director.name" required>
          </mat-form-field>

          <button mat-raised-button class="edit-container__button">Editar</button>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
