<div class="login-container">
  <mat-card class="login-container__login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field class="login-container__form-field">
          <input matInput placeholder="Usuario" name="username" [(ngModel)]="username" required>
        </mat-form-field>

        <mat-form-field class="login-container__form-field">
          <input matInput type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
        </mat-form-field>

        <button mat-raised-button color="primary" class="login-container__button" type="submit" [disabled]="!username || !password">Iniciar sesión</button>
        <div class="login-container__registration-link" routerLink="/register">Registrate</div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
