<div class="register-container">
  <mat-card class="register-container__register-card">
    <mat-card-title>Registro</mat-card-title>
    <mat-card-content>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <mat-form-field class="register-container__form-field">
          <input matInput placeholder="Nombre" name="name" required ngModel>
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput placeholder="Correo Electrónico" name="email" required ngModel>
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput type="password" placeholder="Contraseña" name="password" required ngModel>
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput type="password" placeholder="Confirmar Contraseña" name="confirmPassword" required ngModel>
        </mat-form-field>

        <button mat-raised-button color="primary" class="register-container__button" type="submit" [disabled]="registerForm.invalid">Registrarse</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
