<div class="register-container">
  <mat-card class="register-container__register-card">
    <mat-card-title>Registro</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="register-container__form-field">
          <input matInput placeholder="Nombre" name="name">
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput placeholder="Correo Electrónico" name="email">
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput type="password" placeholder="Contraseña" name="password">
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput type="password" placeholder="Confirmar Contraseña" name="confirmPassword">
        </mat-form-field>

        <button mat-raised-button color="primary" class="register-container__button">Registrarse</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
