<div class="register-container">
  <mat-card class="register-container__register-card">
    <mat-card-title>Registro</mat-card-title>
    <mat-card-content>
      <form #registerForm="ngForm">
        <mat-form-field class="register-container__form-field">
          <input matInput placeholder="Nombre" name="name" required ngModel>
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
        <input matInput placeholder="Nombre de usuario" name="username" required ngModel>
      </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput placeholder="Apellidos" name="surnames" required ngModel>
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Contraseña" name="password" required ngModel>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="register-container__form-field">
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirmar Contraseña" name="confirmPassword" required ngModel (ngModelChange)="passwordMatchValidator(registerForm)">
          <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <div *ngIf="registerForm.controls['confirmPassword']">
            <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('passwordMismatch')">
              Las contraseñas no coinciden.
            </mat-error>
          </div>
        </mat-form-field>

        <button mat-raised-button color="primary" class="register-container__button" type="submit"
                [disabled]="registerForm.invalid" (click)="submit(registerForm)">Registrarse</button>
        <div class="register-container__login-link" >
          <span routerLink="/login">Logueate</span>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
