<div class="home-page">
  <mat-card class="home-page__banner-card">
    <img src="../../../assets/images/cuevanaBanner.jpg" alt="Imagen de banner" class="home-page__banner-card__banner-image" />
    <div class="home-page__banner-card__banner-text">
      <h1>Bienvenidos CuevanaPlus</h1>
      <p>Como Cuevana pero con mas y mejores peliculas</p>
    </div>
  </mat-card>
  <div class="film-list">

    <div class="film-list__header">
      <span><h1>Listado de Películas</h1></span>
    </div>

    <div class="film-list__film-card-container">
      <mat-card *ngFor="let film of films" class="film-list__film-card-container__film-card">
        <img [src]="film.movie.imageUrl" alt="{{ film.movie.title }}" class="film-list__film-card-container__film-card__film-image" />
        <mat-card-title>{{ film.movie.title }}</mat-card-title>
        <mat-card-content>
          <p>Director: {{ film.movie.director.name }}</p>
          <p>Fecha de lanzamiento: {{ film.movie.releaseDate | date }}</p>
          <button mat-button (click)="goToEditPage(film.movie.id)" >Editar</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>

