<div class="home-page">
  <mat-card class="home-page__banner-card">
    <img src="../../../assets/images/cuevanaBanner.jpg" alt="Imagen de banner" class="home-page__banner-card__banner-image" />
    <div class="home-page__banner-card__banner-text">
      <h1>Bienvenidos CuevanaPlus</h1>
      <p>Como Cuevana pero con mas y mejores peliculas</p>
    </div>
  </mat-card>
  <div class="film-list">

    <div class="film-list__header">
      <span><h1>Listado de Películas</h1></span>
    </div>

    <div class="film-list__film-card-container" *ngIf="isAdmin; else userDashboard">
      <mat-card *ngFor="let film of allFilms" class="film-list__film-card-container__film-card">
        <img [src]="film.imageUrl" alt="{{ film.name }}" class="film-list__film-card-container__film-card__film-image" />
        <mat-card-title>{{ film.name }}</mat-card-title>
        <mat-card-content>
          <p>Director: {{ film.director.name }} {{film.director.surnames}}</p>
          <p>Fecha de lanzamiento: {{ film.year }}</p>
          <button mat-button (click)="goToEditPage(film.id)" >Editar</button>
        </mat-card-content>
      </mat-card>
    </div>



    <ng-template #userDashboard>
      <div  class="film-list__film-card-container" >
        <mat-card *ngFor="let userFilm of userFilms" class="film-list__film-card-container__film-card">
          <img [src]="userFilm.movie.imageUrl" alt="{{ userFilm.movie.name }}" class="film-list__film-card-container__film-card__film-image" />
          <mat-card-title>{{ userFilm.movie.name }}</mat-card-title>
          <mat-card-content>
            <p>Director: {{ userFilm.movie.director.name }} {{ userFilm.movie.director.surnames}}</p>
            <p>Fecha de lanzamiento: {{ userFilm.movie.year }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </div>

</div>

